<main>
  <!-- Die Einführung für das Formular. Ich habe es untersucht und die Code davon kopiert. -->
  <div data-brick="intro" class="ce ce-intro">
    <div class="intro has-body has-no-images  ">
      <div class="intro-body">
        <div class="intro-content">
          <div class="intro-content-body">
            <h1>
              Ihr Wohlfühl-Urlaub im Almparadies Seitenalm!
            </h1>
            <p>Bitte geben Sie uns Ihre <strong>Urlaubswünsche</strong> bekannt und wir werden uns umgehend um Ihren nächsten Urlaub kümmern.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Anfang des Formulars -->
  <form [formGroup]="anmeldungForm" (ngSubmit)="onSubmit()" class="form container gutter-x ce">
    <!-- Zuteilung des Formulares nach 3 Fieldsets. -->
    <fieldset>
      <!-- Legend für Urlaubsdaten. -->
      <legend class="form-legend">Ihre Urlaubsdaten</legend>
      <div>
        <div class="w-full">
          <div class="form-field request required">
            <!-- Labels für Reisezeitraum -->
            <label for="reiseZeitRaum" class="form-label required">Reisezeitraum</label>
            <!-- Eingabefeld für Reisezeitraum (mit HTML Validierung)-->
            <input id="reiseZeitRaum" type="date" class="form-input-date form-input form-control input"
            formControlName="reiseZeitRaum" required/>
            <!-- Fehlernachricht anzeigen, wenn Reisezeitraum nicht ausgefüllt ist-->
            <!-- Die Fehler wird angezeigt, nur wenn das Formular abgeschickt ist -->
            <div
              *ngIf="anmeldungForm.controls.reiseZeitRaum.invalid && abgeschickt" class="form-tooltip"
            >
              Geben Sie ein gültiges Datum ein.
            </div>
          </div>
        </div> 
      
        <div class="w-full">
          <div class="form-field request required">
            <!-- Labels für Anzahl Erwachsene -->
            <label for="erwachsene" class="form-label required">Anzahl Erwachsene</label>
            <!-- Eingabefeld für Anzahl Erwachsene (mit HTML Validierung)-->
            <input id="erwachsene" type="number" formControlName="erwachsene" required min="1" step="1" pattern="[0-9]*"/>
            <!-- Fehlernachricht anzeigen, wenn Anzahl der Erwachsene weder ausgefüllt noch positiv noch Nummer ist-->
            <!-- Die Fehler wird angezeigt, nur wenn das Formular abgeschickt ist -->
            <div
              *ngIf="anmeldungForm.controls.erwachsene.invalid && abgeschickt" class="form-tooltip"
            >
              Geben Sie eine positive Zahl ein.
            </div>
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset>
      <!-- Legend für Hinzufügung des Kindes. -->
      <legend class="form-legend">Kinder</legend>
      <!-- Wichtigkeit des Kindes in Seitenalm. -->
      <p class="form-info">Als Familienspezialist ist es uns wichtig, Ihnen ein maßgeschneidertes Angebot zu übermitteln. Bitte geben Sie uns daher den Vornamen und das Alter Ihrer Kinder/Ihres Kindes an.</p>
      <div formArrayName="kinder">
        <!-- For-Loop für jedes Kind-->
        <div *ngFor="let item of kindern.controls; let i = index" class="flex flex-wrap w-full">
          <div [formGroupName]="i" class="test">
            <div class="form-field request required">
              <!-- Label für Kindname. Es ist erforderlich. -->
              <label for="kindName" class="form-label required">Name des Kindes</label>
              <!-- Eingabe jedes Kindnamen -->
              <input formControlName="kindName" type="text" class="form-input" required/>
              <!-- Fehlernachricht anzeigen, wenn Anzahl der Erwachsene weder ausgefüllt noch positiv noch Nummer ist-->
              <!-- Die Fehler wird angezeigt, nur wenn das Formular abgeschickt ist -->
              <div
              *ngIf="item.get('kindName')?.hasError('required') && abgeschickt" class="form-tooltip"
              >
                Geben Sie einen gültigen Namen ein.
              </div>
            </div>
            <div class="w-full">
              <div class="form-field required children-container">
                <div class="children-label">
                  <!-- Label für Geburtstag -->
                  <label for="tag" class="form-label required">Geburtstag</label>
                </div>
                <div class="children_wrap form-field">
                  <!--Combo Box für die Tageauswahl-->
                  <select formControlName="tag" required class="form-input">
                    <!-- Defaultwert (Tag) -->
                    <option value="" selected>Tag</option>
                    <!-- Verwendung der for-loop, die Tage in dem Auswahlfeld hinzuzufügen-->
                    <option *ngFor="let tag of tageList" [ngValue]="tag">
                      {{ tag < 10 ? '0' + tag + '.' : tag + '.' }}
                    </option>
                  </select>
                  <!--Combo Box für die Monatsauswahl-->
                  <select formControlName="monat" required class="form-input">
                    <!-- Defaultwert (Monat) -->
                    <option value="" selected>Monat</option>
                    <!-- Verwendung der for-loop, die Monate in dem Auswahlfeld hinzuzufügen-->
                    <option *ngFor="let monat of monateList; let index = index" [ngValue]="(index + 1)">
                      {{ monat }}
                    </option>
                  </select>
                  <!-- Combo Box für die Jahrauswahl -->
                  <select formControlName="jahr" required class="form-input">
                    <!-- Defaultwert (Jahr) -->
                    <option value="" selected>Jahr</option>
                    <!-- Verwendung der for-loop, das Jahr in dem Auswahlfeld hinzuzufügen-->
                    <option *ngFor="let jahr of jahreList;" [ngValue]="jahr">
                      {{ jahr }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-right request-form-children-control mb-4">
        <a class="button children-add-button" (click)="kindHinzufuegen()">
          Kind hinzufügen
        </a>
        <a class="inline-block text-sm m-1 opacity-75 underline hover:no-underline" *ngIf="kindern.length > 1" (click)="kindEntfernung()">
          Kind entfernen
        </a>
      </div>
    </fieldset>
    <!-- Legend für Kontaktdaten -->
    <legend class="form-legend">Ihre Kontaktdaten</legend>
    <!-- Labels für Vorname -->
    <label for="vorname" class="form-label required">Vorname</label>
    <!-- Eingabefeld für Vorname (mit HTML Validierung)-->
    <input id="vorname" type="text" formControlName="vorname" required pattern="[a-zA-Z\xC0-\uFFFF]+([ \-']{0,1}[a-zA-Z\xC0-\uFFFF]+){0,2}[.]{0,1}"/>

    <!-- Fehlernachricht anzeigen, wenn Vorname weder ausgefüllt noch gültig ist-->
    <!-- Die Fehler wird angezeigt, nur wenn das Formular abgeschickt ist -->
    <div
      *ngIf="anmeldungForm.controls.vorname.invalid && abgeschickt"
    >
      Geben Sie einen gültigen Namen ein.

    </div>
    <br />

    <!-- Label für Nachname -->
    <label for="nachname" class="form-label required">Nachname</label>
    <!-- Eingabefeld für Nachname (mit HTML Validierung)-->
    <input id="nachname" type="text" formControlName="nachname" required pattern="[a-zA-Z\xC0-\uFFFF]+([ \-']{0,1}[a-zA-Z\xC0-\uFFFF]+){0,2}[.]{0,1}">

    <!-- Fehlernachricht anzeigen, wenn Nachname weder ausgefüllt noch gültig ist-->
    <!-- Die Fehler wird angezeigt, nur wenn das Formular abgeschickt ist -->
    <div
      *ngIf="anmeldungForm.controls.nachname.invalid && abgeschickt"
    >
        Geben Sie einen gültigen Name ein.
    </div>
    <br />

    <!-- Label für Geschlecht -->
    <label for="geschlecht" class="form-label required">Geschlecht</label>
    <select formControlName="geschlecht">
      <!-- Ich ergänze den "Auswählen" Befehl in dem Auswahlfeld (mit leerem Wert) -->
      <option value="" selected>Auswählen</option>
      <!-- Verwendung der for-loop, die Geschlechte in dem Auswahlfeld hinzuzufügen-->
      <option *ngFor="let geschlecht of geschlechtList" [ngValue]="geschlecht.value">
        {{ geschlecht.name }}
      </option>
    </select>
    <br>


    <!-- Fehlernachricht anzeigen, wenn Geschlecht nicht ausgefüllt ist-->
    <!-- Die Fehler wird angezeigt, nur wenn das Formular abgeschickt ist -->
    <div
    *ngIf="anmeldungForm.controls.geschlecht.invalid && abgeschickt"
    >
        Bitte wählen sie Ihr Geschlect aus.
    </div>
    <!-- Labels für Email -->
    <label for="email" class="form-label required">E-Mail</label>
    <!-- Eingabefeld für Email (mit HTML Validierung)-->
    <input id="email" type="email" formControlName="email" required/>
    <br />

    <!-- Fehlernachricht anzeigen, wenn E-Mail weder ausgefüllt noch gültig ist-->
    <!-- Die Fehler wird angezeigt, nur wenn das Formular abgeschickt ist -->
    <div
    *ngIf="anmeldungForm.controls.email.invalid && abgeschickt"
    >
        Geben Sie eine gültige E-Mail Adresse ein.
    </div>
    <br />

    <!-- Label für Land -->
    <label for="land" class="form-label required">Land</label>
    <select formControlName="land">
      <!-- Ich ergänze den "Auswählen" Befehl in dem Auswahlfeld (mit leerem Wert) -->
      <option value="" selected>Auswählen</option>
      <option value="de">Deutschland</option>
      <option value="at">Österreich</option>
      <option value="ch">Schweiz</option>
      <option value="" disabled="true">-------------------</option>
      <option *ngFor="let land of laenderList" [ngValue]="land.alpha2">
        {{ land.name }}
      </option>
    </select>
    <br>


    <!-- Fehlernachricht anzeigen, wenn Land nicht ausgefüllt ist-->
    <!-- Die Fehler wird angezeigt, nur wenn das Formular abgeschickt ist -->
    <div
    *ngIf="anmeldungForm.controls.land.invalid && abgeschickt"
    >
      Wählen Sie ein Land aus.
    </div>

    <!-- Label für Postleitzahl -->
    <label for="plz" class="form-label required">PLZ</label>
    <!-- Eingabefeld für PLZ (mit HTML Validierung). Erlaub nur 4 Zahlen. -->
    <input id="plz" type="plz" formControlName="plz" required pattern="[0-9]{4}"/>
    <br />

    <!-- Fehlernachricht anzeigen, wenn PLZ weder ausgefüllt noch gültig ist-->
    <!-- Die Fehler wird angezeigt, nur wenn das Formular abgeschickt ist -->
    <div
      *ngIf="anmeldungForm.controls.plz.invalid && abgeschickt"
    >
      Geben Sie eine gültige ZIP ein.

    </div>
    <br />

    <!-- Label für Straße -->
    <label for="strasse" class="form-label required">Straße</label>
    <!-- Eingabefeld für Straße. -->
    <input id="strasse" type="text" formControlName="strasse" required />
    <br />

    <!-- Fehlernachricht anzeigen, wenn Straße nicht ausgefüllt ist-->
    <!-- Die Fehler wird angezeigt, nur wenn das Formular abgeschickt ist -->
    <div
      *ngIf="anmeldungForm.controls.strasse.invalid && abgeschickt"
    >
      Geben Sie einen Stadtnamen ein.
    </div>

    <!-- Label für Stadt -->
    <label for="stadt" class="form-label required">Stadt</label>
    <!-- Eingabefeld für Stadt. -->
    <input id="stadt" type="text" formControlName="stadt" required/>
    <br />

    <!-- Fehlernachricht anzeigen, wenn Stadt nicht ausgefüllt ist-->
    <!-- Die Fehler wird angezeigt, nur wenn das Formular abgeschickt ist -->
    <div
    *ngIf="anmeldungForm.controls.stadt.invalid && abgeschickt"
    >
      Geben Sie einen Straßennamen ein.
    </div>

    <!-- Label für Telefonnummer -->
    <label for="telefon">Telefon</label>
    <!-- Eingabefeld für Telefonnummer. Sie sollte nicht erforderlich sein. -->
    <input id="telefon" type="text" formControlName="telefon"/>
    <br />

    <!-- Label für Fragen / Wünsche -->
    <label for="fragen">Fragen oder Wünsche</label>
    <!-- Textarea anzeigen -->
    <textarea id="fragen" formControlName="fragen"></textarea>
    <br />

    <!-- Container für ungültiges Form. Ich habe absichtlich das Verhältnis -->
    <!-- ein bisschen unterschiedlich als das originales Form -->
    <!-- Das Original zeigt dieses Container wenn wir ein erforderliches Feld leer verlassen. -->
    <div *ngIf="!anmeldungForm.valid && abgeschickt" class="form-invalid-container">
      <div class="font-display text-2xl mb-2">
        Beim Senden des Formulars ist ein Fehler aufgetreten!
      </div>
      Die ungültigen Felder wurden hervorgehoben.
    </div>

    <!-- Anfagen schicken. Dieser Knopf wird nur die Eingabe von Dateien als console.log anzeigen, weil die Erforderung -->
    <!-- gesagt hat, dass die Logik für den Knopf nicht funktioniert muss. -->
    <button type="submit">Anfragen Absenden</button>
  </form>
<!-- Ende des Formulars -->
</main>