<form [formGroup]="anmeldungForm" (ngSubmit)="onSubmit()">
  <label for="vorname" class="form-label required">Vorname</label>
  <input id="vorname" type="text" formControlName="vorname" required pattern="[a-zA-Z\xC0-\uFFFF]+([ \-']{0,1}[a-zA-Z\xC0-\uFFFF]+){0,2}[.]{0,1}"/>

  <div
    *ngIf="anmeldungForm.controls.vorname.invalid && (anmeldungForm.controls.vorname.dirty || anmeldungForm.controls.vorname.touched)"
  >
    <div *ngIf="anmeldungForm.controls.vorname.errors?.['required']">
      Vorname ist erforderlich.
    </div>
    <div *ngIf="anmeldungForm.controls.vorname.errors?.['pattern']">
      Geben Sie gultige Vorname ein.
    </div>
  </div>
  <br />

  <label for="nachname" class="form-label required">Nachname</label>
  <input id="nachname" type="text" formControlName="nachname" required>

  <div
    *ngIf="anmeldungForm.controls.nachname.invalid && (anmeldungForm.controls.nachname.dirty || anmeldungForm.controls.nachname.touched)"
  >
    <div *ngIf="anmeldungForm.controls.nachname.errors?.['required']">
      Nachname ist erforderlich.
    </div>
    <div *ngIf="anmeldungForm.controls.nachname.errors?.['pattern']">
      Geben Sie gultige Nachname ein.
    </div>
  </div>
  <br />

  <label for="geschlecht" class="form-label required">Geschlecht</label>
  <select formControlName="geschlecht">
    <option value="" selected>Auswählen</option>
    <option *ngFor="let geschlecht of geschlechtList" [ngValue]="geschlecht.value">
      {{ geschlecht.name }}
    </option>
  </select>
  <br>

  <div
  *ngIf="anmeldungForm.controls.geschlecht.invalid && (anmeldungForm.controls.geschlecht.dirty || anmeldungForm.controls.geschlecht.touched)"
  >
    <div *ngIf="anmeldungForm.controls.geschlecht.errors?.['required']">
      Geschlecht ist erforderlich.
    </div>
  </div>
  

  <label for="email" class="form-label required">E-Mail</label>
  <input id="email" type="email" formControlName="email" required/>
  <br />

  <div
  *ngIf="anmeldungForm.controls.email.invalid && (anmeldungForm.controls.email.dirty || anmeldungForm.controls.email.touched)"
  >
    <div *ngIf="anmeldungForm.controls.email.errors?.['required']">
      E-Mail ist erforderlich.
    </div>
    <div *ngIf="anmeldungForm.controls.email.errors?.['email']">
      Geben Sie eine gultige E-Mail ein.
    </div>
  </div>
  <br />

  <label for="plz" class="form-label required">PLZ</label>
  <input id="plz" type="plz" formControlName="plz" required pattern="[0-9]{4}"/>
  <br />

  <div
    *ngIf="anmeldungForm.controls.plz.invalid && (anmeldungForm.controls.plz.dirty || anmeldungForm.controls.plz.touched)"
  >
    <div *ngIf="anmeldungForm.controls.plz.errors?.['required']">
      Postleitzahl ist erforderlich.
    </div>
    <div *ngIf="anmeldungForm.controls.plz.errors?.['pattern']">
      Geben Sie eine gultige ZIP ein.
    </div>
  </div>
  <br />


  <label for="strasse" class="form-label required">Straße</label>
  <input id="strasse" type="text" formControlName="strasse" required />
  <br />

  <div
    *ngIf="anmeldungForm.controls.strasse.invalid && (anmeldungForm.controls.strasse.dirty || anmeldungForm.controls.strasse.touched)"
  >
    <div *ngIf="anmeldungForm.controls.strasse.errors?.['required']">
      Straße ist erforderlich.
    </div>
  </div>

  <label for="stadt" class="form-label required">Stadt</label>
  <input id="stadt" type="text" formControlName="stadt" required/>
  <br />

  <div
  *ngIf="anmeldungForm.controls.stadt.invalid && (anmeldungForm.controls.stadt.dirty || anmeldungForm.controls.stadt.touched)"
  >
    <div *ngIf="anmeldungForm.controls.stadt.errors?.['required']">
      Stadt ist erforderlich.
    </div>
  </div>

  <label for="telefon">Telefon</label>
  <input id="telefon" type="text" formControlName="telefon"/>
  <br />

  <label for="fragen">Fragen oder Wünsche</label>
  <textarea id="fragen" formControlName="fragen"></textarea>
  <br />

  <button type="submit" [disabled]="!anmeldungForm.valid">Anfragen Absenden</button>
</form>